@CHARSET "UTF-8";
.wrap{
	width:100%;
    height:578px;
    background:url(../images/bg.jpg) repeat-x;
    margin-bottom:-25px;
}
.smile{
	width:362px;
    height:303px;
    background:url(../images/smile_icon.png) 0 52px no-repeat;
    padding-top:52px;
    margin-left:272px;
}
.content{
	width:650px;
    height:132px;
    padding-top:20px;
    padding-left:210px;
}
.content .error{
	width:229px;
    padding-top:16px;
}
.content .text{
	padding-left:40px;
    width:340px;
    color:#696969;
}
.content .text h2{
	font-size:36px;
    font-weight:normal;
    padding-bottom:10px;
}
.content .text p.s1{
	padding-top:6px;
}
.content .text p.s1 a{
	display:inline-block;
    margin-right:10px;
}
/*
 * forbidden
 */
.forbidden-icon{
	width:227px;
    height:224px;
    background:url(../images/lock_icon.png) 0 84px no-repeat;
    margin-left:355px;
    padding-top:84px;
}
.forbidden-content{
	padding:40px 0 0 0;
}
.forbidden-content h2{
	font-size: 36px;
    font-weight: normal;
    text-align:center;
    padding-bottom: 10px;
}
.forbidden-content p{
	text-align:center;
}
.forbidden-content p.s1{
	padding-top:6px;
}
.forbidden-content p.s1 a{
	display:inline-block;
    margin-right:10px;
}
/*building*/
.building_forbidden{
	width:408px;
	margin:0 auto;
	padding-top:50px;
}
/*Message*/
.message{
	
}
.message .sad{
	margin:40px auto 0;
	width:303px;
	height:303px;
	background:url(../images/sad.png) no-repeat;
}
.message h1.notice{
	text-align:center;
	color:#696969;
	padding:20px 0 10px;
	font-size:36px;
}
.message p.notice{
	text-align:center;
	color:#0d5dff;
	font-size:18px;
}
.message p.goback{
	padding:10px 0;
	text-align:center;
}