@CHARSET "UTF-8";
.search-box .input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #EEEEEE;
    display: inline-block;
    padding: 8px 10px 0;
    width: 188px;
}