@charset "utf-8";
/*  
*@Description: public reset css  
*@Author: Roger Xia  
*@Update: Roger Xia(2012-11-23 15:26)  
*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */ dl, dt, dd, ul, ol, li, /* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */ fieldset, lengend, button, input, textarea, /* form elements 表单元素 */ th, td { /* table elements 表格元素 */
	margin: 0;
	padding: 0;
}
/* 设置默认字体 */
body, button, input, select, textarea { /* for ie */
	/*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
p {
	line-height:1.5em;
}
h1 {
	font-size: 18px; /* 18px / 12px = 1.5 */
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4, h5, h6 {
	font-size: 100%;
}
address, cite, dfn, em, var {
	font-style: normal;
} /* 将斜体扶正 */
code, kbd, pre, samp, tt {
	font-family: "Courier New", Courier, monospace;
} /* 统一等宽字体 */
small {
	font-size: 12px;
} /* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol {
	list-style: none;
}
/* 重置文本格式元素 */
a {
	color:#999;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
	border-bottom: 1px dotted;
	cursor: help;
}
q:before, q:after {
	content: '';
}
/* 重置表单元素 */
legend {
	color: #000;
} /* for ie6 */
fieldset, img {
	border: none;
} /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
	font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 重置 hr */
hr {
	border: none;
	height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
	overflow-y: scroll;
}
/*公共样式*/
body {
	background:#7f91a6;
	font-family:"微软雅黑", "宋体";
}
.pull-left{
	float:left;	
}
.pull-right{
	float:right;
}
.container{
	margin:0 auto;
	width:972px;
	clear:both;
}
/*
 *Header
 */
.header{
	width:100%;
	height:49px;
	background:#3a434c;
    border-top:1px solid #28323c;
}
.logo{
	width:250px;
	height:25px;
    margin-top:12px;
}
.search-box{
    margin-top:8px;
	margin-left:128px;
	width:238px;
	height:30px;
    background:#1d2730;
    border:1px solid #596066;
}
.search-box .input{
	border:none;
    height:30px;
    padding:0 10px;
    width:186px;
    background:none;
    display: inline-block;
    color:#eee;
}
.search-box .btn{
	width:28px;
    height:28px;
    border:none;
    cursor:pointer;
    background:url(../images/zoom_in.jpg) no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-top:1px;
}
.top-navs li{
	float:left;
    margin-top:18px;
    margin-left:36px;
}
.top-navs li a{
	color:#fff;
}
.form-box{
	padding:20px;
	height:400px;
    background:#f8f8f8;
    border:1px solid #ccc;
    margin-top:26px;
    border-radius: 4px 4px 4px 4px;
}
.form-box .title{
	color:#208ff1;
    font-size:24px;
    padding-bottom:12px;
    border-bottom:1px solid #ccc;
}
.form-box .title i{
	font-size:12px;
    color:#666666;
    font-weight:normal;
    font-style:normal;
    padding:0 10px;
}
.form-box .form{
	width:540px;
    padding:20px 0;
}
.form-box .form td.s1{
	width:100px;
    font-size:15px;
    height:26px;
    padding:8px 20px;
}
.form-box .form .input{
	height:24px;
    border:1px solid #878787;
    width:222px;
    padding:0 5px;
}
.form-box .form .submit, .form-box .form .login-btn{
	cursor:pointer;
	border:none;
	width:221px;
    height:36px;	
}
.form-box .form .submit{
    background:url(../images/btn1.gif) no-repeat;
}
.form-box .form .login-btn{
	background:url(../images/btn2.gif) no-repeat;
}
.form-box .notice{
	width:390px;
    margin-top:44px;
    min-height:310px;
    background:url(../images/photo_5.jpg) no-repeat;
}
.form-box .notice .s1{
	color:#177ad6;
    font-size:14px;
    padding:0 5px;
}
.form-box .notice .s2{
    font-size:18px;
    padding:20px 0;
    color:#666;
}
[class*="-info"]{
	padding-left:10px;
	color:red;
}
/*
 * Footer
 */
.footer{
	clear:both;
    background: none repeat scroll 0 0 #EAEAEA;
    margin-top: 25px;
    padding: 20px 0;
}
.footer p {
    font-size: 12px;
    margin: 2px 0;
    text-align: center;
}
.footer p.p2 {
    color: #989898;
}

